*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(217, 220, 220);
}

#container{
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    /* background-color: aqua; */
    min-height: 100vh;
}
.blog-card{
    border: 1px solid black;
    height: 100px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 1%;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.blog-card-expanded{
  overflow:visible;
  height: fit-content;
}

#heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

img{
  border-radius: 2%;
}

#heading p{
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1{
  font-family: sans-serif;
}
button{
  padding: 5px;
}
@media screen and (max-width:650px) {
  .blog-card{
    font-size: 1.5rem;
    overflow: hidden;
  }
  #container{
    width: 100vw;
    padding-top: 1rem;
    /* background-color: aqua; */
    min-height: 100vh;
  }
  #heading{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5px;
  }
  
}